@import url(//db.onlinewebfonts.com/c/d6ced0df95b7cc53e0eae88817930d08?family=Wisdom+Script+AI);
/* GLOBAL */
body {
  font-family: "Montserrat", sans-serif;
}

section {
  padding: 100px 0;
}

.btn, .btn:link, .btn:visited {
  width: 250px;
  height: 50px;
  padding: 15px 30px;
  background-color: #fed136;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 2%;
  border: none;
  display: inline-block;
  font-weight: 400;
}

.btn:hover, .btn:link:hover, .btn:visited:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active, .btn:link:active, .btn:visited:active {
  transform: translateY(-1px);
}

.nav {
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin: auto auto;
}

/*Logo*/
.logo {
  z-index: 1;
  font-family: "Wisdom Script AI";
  color: #fed136;
  font-size: 20px;
  text-align: left;
}

/* Navigation */
.navbar {
  text-align: right;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  /* Menu pierwszego poziomu */
  /* Menu kolejnych poziomow */
}

.navbar ul li {
  display: inline-block;
  padding-right: 20px;
  position: relative;
  z-index: 1;
  /* pokazanie submenu po hover na li */
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  padding: 5px;
  color: white;
}

.navbar ul li a:hover {
  background-color: #7f8c8d;
}

.navbar ul li:hover > ul {
  display: inline-block;
}

.navbar ul ul {
  display: none;
  position: absolute;
  top: 25px;
  left: -50px;
}

.navbar ul ul li {
  display: block;
  margin-bottom: 12px;
  min-width: 200px;
  z-index: 1;
}

/* Splash */
.splash {
  height: 100vh;
  position: relative;
  margin-top: -50px;
}

.splash img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.splash::after {
  content: '';
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: .4;
}

.splash-inner {
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.splash-inner p {
  font-size: 40px;
  color: white;
  font-family: "droid-serif", serif;
  font-style: italic;
}

.splash-inner h1 {
  font-size: 65px;
  text-transform: uppercase;
  color: white;
  font-weight: 800;
}

/*Services*/
.row {
  width: 90%;
  margin: auto;
  text-align: center;
}

.section-title {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.section-title h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 42px;
}

.section-title h3 {
  font-family: "droid-serif", serif;
  font-style: italic;
  color: #7f8c8d;
  font-weight: 100;
}

services.i {
  color: #fed136;
  padding-top: 15px;
  font-size: 32px;
  border: 3px solid #fed136;
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

h4 {
  font-weight: 700;
}

p {
  color: #7f8c8d;
}

/* Portfolio */
.portfolio {
  background-color: lightgrey;
}

.card {
  background-color: white;
  width: 30%;
  height: 400px;
  margin: 20px 30px 20px 0;
}

.card img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Footer */
.footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 60%;
}

.footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: right;
}

.footer ul li {
  display: inline-block;
}

.footer p {
  display: inline-block;
}

.footer i {
  font-size: 35px;
  color: black;
  margin-left: 15px;
}
/*# sourceMappingURL=style.css.map */