/* GLOBAL */

$color-one: #f1c40f;
$color-two: #7f8c8d;
$color-light: white;

$text-font: 'PT Sans', sans-serif;
$header-font:'Open Sans', sans-serif;

body {
    font-family: $text-font;
    background-color:lightgray;
}

.btn, .btn:link, .btn:visited {
    padding: 15px 30px;
    background-color: $color-one;
    color: $color-light;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5%;
    border:none;
    display:inline-block;

    &:hover {

        transform: translateY(-2px);
        box-shadow: 0 10px 20px rgba(0,0,0,.2);
    }

    &:active {
        transform: translateY(-1px);
    } 

}

/* Navigation */
.navbar {
    text-align: right;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        /* Menu pierwszego poziomu */
        li {
            display: inline-block;
            padding-right: 20px;
            position: relative;
            z-index: 1;
            a {
                text-decoration: none;
                text-transform: uppercase;
                padding: 5px;
                color: $color-light;
                &:hover {
                    background-color: $color-two;
                }
            }
            /* pokazanie submenu po hover na li */
            &:hover {
                &>ul {
                    display: inline-block;
                }
            }
        }
        /* Menu kolejnych poziomow */

        ul {
            display: none;
            position: absolute;
            top:25px;
            left:-50px;

            li {
                display: block;
                margin-bottom: 12px;
                min-width: 200px;
                z-index: 1;
            }    
        }
    }
}
/* Splash */

.splash {
    height: 100vh;
    position: relative;
    margin-top: -30px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &::after {
        content:'';
        background-color: black;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: .3;
    }
}

.splash-inner {
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 1;
    p {
        font-size: 32px;
        color: $color-light;
        font-style: italic;
    }

    h1 {
        font-size: 48px;
        text-transform: uppercase;
        color: $color-light;
        font-weight: 700;
    }
}