@import url(//db.onlinewebfonts.com/c/d6ced0df95b7cc53e0eae88817930d08?family=Wisdom+Script+AI);

/* GLOBAL */

$color-one: #fed136;
$color-two: #7f8c8d;
$color-light: white;

$text-font: 'Montserrat', sans-serif;
$logo-font:  "Wisdom Script AI";
$head-font: "droid-serif", serif;

body {
    font-family: $text-font;
}

section {
    padding-top: 50px;
}

.btn, .btn:link, .btn:visited {
    padding: 15px 30px;
    background-color: $color-one;
    color: $color-light;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5%;
    border:none;
    display:inline-block;
    font-weight: 400;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 10px 20px rgba(0,0,0,.2);
    }

    &:active {
        transform: translateY(-1px);
    } 

}

.nav {
    display: flex;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: auto auto;
}
/*Logo*/
.logo {
    z-index: 1;
    font-family: $logo-font;
    color: $color-one;
    font-size: 20px;
    text-align: left;

}

/* Navigation */
.navbar {
    text-align: right;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        /* Menu pierwszego poziomu */
        li {
            display: inline-block;
            padding-right: 20px;
            position: relative;
            z-index: 1;
            a {
                text-decoration: none;
                text-transform: uppercase;
                font-size: 14px;
                padding: 5px;
                color: $color-light;
                &:hover {
                    background-color: $color-two;
                }
            }
            /* pokazanie submenu po hover na li */
            &:hover {
                &>ul {
                    display: inline-block;
                }
            }
        }
        /* Menu kolejnych poziomow */

        ul {
            display: none;
            position: absolute;
            top:25px;
            left:-50px;

            li {
                display: block;
                margin-bottom: 12px;
                min-width: 200px;
                z-index: 1;
            }    
        }
    }
}
/* Splash */

.splash {
    height: 100vh;
    position: relative;
    margin-top: -50px;
    

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &::after {
        content:'';
        background-color: black;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: .4;
    }
}

.splash-inner {
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 1;
    p {
        font-size: 40px;
        color: $color-light;
        font-family: $head-font;
        font-style: italic;
    }

    h1 {
        font-size: 65px;
        text-transform: uppercase;
        color: $color-light;
        font-weight: 800;
    }
}

/*Services*/

.row {
    width: 90%;
    margin: auto;
    text-align: center;
}

.section-title {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    
    h2 {
        text-align: center;
    }

    h3 {
        font-style: italic;
        color: $color-two;
    }
}

i {
    color: $color-one;
    padding-top: 15px;
    font-size: 32px;
    border: 3px solid $color-one;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

h4 {
    font-weight: 700;
}

p {
    color: $color-two;
}